@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApplication1.Models.Profile
@{
    ViewData["Title"] = "Create";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>SomeView</title>
</head>

<h2>Create</h2>
<h2>Add User</h2>
<form class="mx-auto" asp-action="Add">
    <input asp-for="Name" type="text" />
    <input asp-for="Surname" type="text" />
    <input asp-for="MobilePhone" type="text" />
    <button class="btn-primary">Submit</button>
</form>
</html>


